.ProductBox {
  display: inline-block;
  width: 33%;
  text-align: center;
  margin-bottom: 20px;
  vertical-align: top;
}

.ProductBox > div {
  margin-bottom: 20px;
}

.ProductBox p {
  font-weight: 100;
}