.FaqItem h4 {
  color: #6F3CD1;
  transition: color 0.2s ease-in-out;
}
.FaqItem h4:hover {
  text-decoration: underline;
  color: #9364de;
  cursor: pointer;
}

.FaqItem > div {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}