footer {
  margin: 0 auto;
  max-width: 960px;
  padding: 1.5rem 1rem 2.5rem 1rem;
  vertical-align: top;
}

.FooterLinks {
  width: 20%;
  min-width: 145px;
  display: inline-block;
  vertical-align: top;
}

#FooterLegal {
  width: 40%;
  min-width: 180px;
  display: inline-block;
}

@media only screen and (max-width: 760px) {
  .FooterLinks {
    display: block;
    margin: 20px auto;
    text-align: center;
    width: 100%;
  }

  #FooterLegal {
    width: 100%;
    text-align: center;
    display: block;
  }
}
