.HowTo {
  width: 33%;
  min-width: 250px;
  float: left;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.HowTo-Step {
  border: 2px solid blue;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 10px auto;
  color: blue;
  line-height: 21px;
}

@media only screen and (max-width: 785px) {
  .HowTo {
    width: 100%;
  }
}
